.sidebar_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .menu-list {
    flex: 1;
    justify-content: normal;
  }

  .icon {
    padding: 0 10px 0 0;
    text-align: center;
    vertical-align: middle;
  }

  .label {
    margin: 0;
  }

  .active-list-item {
    color: #3f51b5 !important;
  }
}
